<% include header %>

<form action="/stock" method="post" class="ui form">
	<div class="field">
    <input name="action" id="action" type="hidden" <%if(action=='update'){%>value="update"<% } else{ %> value="create" <% } %>>
		<label for="nom">Nom du produit :</label>
		<input name="nom" id="nom" value="<%= nom %>" required>
		<label for="quantite">Quantité en stock :</label>
		<input name="quantite" id="quantite" value="<%= quantite %>" required>
		<label for="ref">Code de référence :</label>
		<input name="ref" id="ref" value="<%= ref %>" <%if(action=='update'){%>readonly<% } %> required>
	</div>
	<button type="submit" class="ui blue labeled submit icon button">
	<i class="icon edit"></i>Envoyer
	</button>
</form>


<table class="ui selectable unstackable sortable celled table">
  <thead>
    <tr>
      <th class="">Référence produit</th>
      <th class="">Nom du produit</th>
      <th class="">Quantité disponible</th>
    </tr>
  </thead>
  <tbody>
  	<% for(p of stock) { %>
  	<tr>
  		<td class="selectable"><a href="/stock/<%= p.ref %>"><%= p.ref %></a></td>
  		<td class="selectable"><a href="/stock/<%= p.ref %>"><%= p.nom %></a></td>
  		<% if(p.quantite > 0){%>
  		<td class="selectable positive"><a href="/stock/<%= p.ref %>"><%= p.quantite %></a></td>
  		<% } else { %>
  		<td class="selectable negative"><a href="/stock/<%= p.ref %>">0</a></td>
  		<% } %>
  	</tr>
  	<% } %>
    
  </tbody> 
</table>

<% include footer %>